table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    text-align:center;
}

th{
    background:#1976d2;
    color:white;
}

button{
    padding:6px 12px;
    cursor:pointer;
}

h2{
    text-align:center;
}