.container {
  text-align: center;
  margin-top: 30px;
  font-family: Arial, sans-serif;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th {
  background-color: #0d6efd;
  color: white;
}

th,
td {
  padding: 10px 20px;
}