<h2>Available Courses</h2>

<p *ngIf="isLoading">
  Loading courses...
</p>

<ng-container *ngIf="!isLoading">

  <div *ngIf="courses.length > 0; else noCourses">

    <app-course-card

      *ngFor="let course of courses;
      let i=index;
      trackBy:trackByCourseId"

      [course]="course"

      (enrollRequested)="onEnroll($event)"

      appHighlight="lightblue">

    </app-course-card>

  </div>

</ng-container>

<ng-template #noCourses>

<p>No courses available.</p>

</ng-template>

<p *ngIf="selectedCourseId">

Selected Course ID : {{selectedCourseId}}

</p>