<h2>Reactive Enrollment Form</h2>

<form [formGroup]="enrollForm" (ngSubmit)="submitForm()">

  <label>Name</label>
  <input type="text" formControlName="studentName">

  <div *ngIf="enrollForm.get('studentName')?.invalid && enrollForm.get('studentName')?.touched">
    Minimum 3 characters required.
  </div>

  <br>

  <label>Email</label>
  <input type="email" formControlName="studentEmail">

  <div *ngIf="enrollForm.get('studentEmail')?.errors?.['emailTaken']">
    Email already taken.
  </div>

  <br>

  <label>Course Code</label>
  <input type="text" formControlName="courseId">

  <div *ngIf="enrollForm.get('courseId')?.errors?.['noCourseCode']">
    Course code starting with XX is not allowed.
  </div>

  <br>

  <label>Semester</label>

  <select formControlName="preferredSemester">
    <option>Odd</option>
    <option>Even</option>
  </select>

  <br><br>

  <label>
    <input type="checkbox" formControlName="agreeToTerms">
    Agree to Terms
  </label>

  <br><br>

  <h3>Additional Courses</h3>

  <button type="button" (click)="addCourse()">
    Add Another Course
  </button>

  <div formArrayName="additionalCourses">

    <div *ngFor="let ctrl of additionalCourses.controls; let i = index">

      <input [formControlName]="i">

      <button
        type="button"
        (click)="removeCourse(i)">
        Remove
      </button>

    </div>

  </div>

  <br>

  <button
    type="submit"
    [disabled]="enrollForm.invalid">
    Submit
  </button>

</form>